@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variant-numeric: tabular-nums;
}

select,
button,
input {
  font: inherit;
}

:root {
  --main-used-color: hsl(49, 100%, 48%);
  --secondary-color: #FF9900;
  --header-background-color: #131921;
  --hover-color: hsl(50, 85%, 48%);
  --text-color: #111;
  --box-shadow: hsl(50, 100%, 48%);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
  .appear {
    animation: appearOnScrolling;
    animation-timeline: view(97% 0);
  }

  @keyframes appearOnScrolling {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

body {
  min-height: 100vh;
}



/* End Of Global Rules */

header {
  background-color: var(--header-background-color);
  min-height: 66.39px;
  max-height: 80px;
  padding: 1rem;
  padding-inline: clamp(1.1rem,3vw,2rem);
  color: #fff;
  display: flex;
  gap: clamp(.7rem,3vw,1.3rem);
  justify-content: space-between;

  & a {
    height: stretch;
    align-content: center;
    color: white;
    text-decoration: none;
  }
}

header img {
  height: 1.9rem;
}

.search-bar {
  width: clamp(25rem,80vw,50rem);
  overflow: hidden;
  border-radius: 4px;
  margin-inline: auto;
  transition: outline-color .3s;
  display: flex;
  outline: 3px solid transparent;

  &:has(input:focus) {
    outline-color: var(--secondary-color);
  }

  button {
    flex: 0 1 auto;
    height: 100%;
    width: fit-content;
    max-height: 100%;
    padding: .2rem .8rem;
    background-color: var(--secondary-color);
    transition: background-color .3s, box-shadow .3s;
    border: 0;
    cursor: pointer;

    &:active {
      box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.397) inset;
    }

    &:hover {
      background-color: #fdb953;
    }
  
  }

  input {
    outline: 0;
    border: 1px solid white;
    margin-right: -2px;
    padding-inline: 1rem;
    font-size: 1rem;
    flex: 1 1 auto;
  }
}

.search-bar img {
  height: 1.4rem;
}

.returns {
  font-size: clamp(.5rem,1.5vw,1rem);

  span {
    display: block;
    margin-top: .2rem;
    font-weight: 500;
  }
}

.cart {
  position: relative;
  font-weight: 600;
  display: flex;
  gap: .2rem;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;

  span {
    color: rgb(240, 136, 4);
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    top: -1px;
    left: 56.5%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 600;
  }
}

main .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  grid-auto-rows: 480px;
  max-width: 1500px;
  perspective: 600px;
  content-visibility: auto;
}

.card {
  display: grid;
  padding: 1.5rem;
  position: relative;
  gap: .6rem;
  border: 1px solid #ddd;
}

.card > img {
  width: 11rem;
  aspect-ratio: 1;
  object-fit: contain;
  justify-self: center;
}

.rate > img {
  width: 6.5rem;
  height: 22px;
  vertical-align: sub;
}

.rate > span {
  color: #0e5bd6;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.1rem;
  margin-left: .3rem;
}

.card p {
  font-size: 1.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -o-line-clamp: 2;
  -moz-line-clamp: 2;
  line-clamp: 2;
  min-height: 4ch;
  -webkit-box-orient: vertical;
  font-weight: 500;
  overflow: hidden;
  line-height: 1.3;
}

.card > span {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 800;
}

select {
  background-color: #ddd;
  width: fit-content;
  padding: .2rem;
  margin-bottom: 2.3rem;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #eee7e7;
  box-shadow: 0 0 5px 0 #ddd;
  outline: 2px solid transparent;
  transition: outline-color .3s;
}

.card button {
  background-color: hsl(50, 100%, 54%);
  border-radius: 18px;
  anchor-name: --btn;
  padding: .6rem 1rem;
  font-size: 1.09rem;
  font-weight: 500;
  border: 0;
  outline-color: transparent;
  cursor: pointer;
  transition: background-color .3s, box-shadow .3s;
  box-shadow: 2px 3px 1px 1px;
  &:active {
    box-shadow: 2px 2px 1px 1px  , 0 3px 5px 1px rgba(111, 111, 112, 0.466) inset;
    background-color: hsl(50, 85%, 40%);
  }

  &:hover {
    background-color: var(--hover-color);
  }
}

.add-item {
  color: #000;
  width: 3.5rem;
  aspect-ratio: 1;
  border: 0;
  display: grid;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.1rem;
  background-color: hsl(0, 0%, 82%);
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  transition: 300ms background-color;

  &:hover {
    background-color: hsl(0, 0%, 75%);
  }
}

dialog[open] {
  display: flex;
  flex-flow: column;
  inset: 50%;
  transform: translate(-50% , -50%);
  border-radius: 6px;
  border: 0;
  padding: 1.9rem;
  width: max(60vw,290px);
  max-width: 40rem;
}

dialog form {
  display: flex;
  flex-flow: column;

  input {
    margin-bottom: .9rem;
    border-radius: 5px;
    padding: .2rem;
    transition: 300ms border-color;
    &:focus {
      outline: 0;
      border-color: hsl(199, 100%, 54%);
    }
  }
}

dialog[open] label {
  margin-bottom: .5rem;
  font-size: 1.1rem;
}

.stars {
  display: grid;
  gap: .5rem;
  grid-template-rows: 1.3rem 1fr;

  label {
    grid-row: 1;
  }
}

@media screen and (max-width: 680px) {
  .stars {
    gap: 0;
  }

  .stars label {
    grid-row: unset;
  }
}

#price {
  margin-bottom: 1.1rem;
}

form button {
  padding: .5rem;
  border-radius: 4px;
  border: 0;
  background-color: hsl(50, 100%, 50%);
  cursor: pointer;
  transition: 300ms background-color;
  &:hover {
    background-color: var(--hover-color);
  }
}

dialog label:has(+ input[required]):after {
  content: '*';
  color: crimson;
  margin-inline-start: .3rem;
  font-size: 1.1rem;
}

.close-modal {
  display: flex;
  border: 0;
  align-self: flex-end;
  cursor: pointer;
  flex-wrap: wrap;
  place-content: center;
  width: 1.5rem;
  aspect-ratio: 1;
  line-height: 1;
  border-radius: 50%;
  background-color: #eee7e7;
}

[class^="added-to-cart-"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  position-anchor: --btn;
  left: 5%;
  left: calc(anchor(left) + 2px);
  top: 84%;
  top: calc(anchor(top) - 2rem);
  color: rgb(9, 122, 9);
  font-size: 1.1rem;
  transition: 400ms;
}