@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variant-numeric: tabular-nums;
}

select,
button,
input {
  font: inherit;
}

:root {
  --main-used-color: hsl(49, 100%, 48%);
  --secondary-color: #FF9900;
  --header-background-color: #131921;
  --hover-color: hsl(50, 85%, 48%);
  --sec-text-color: #595959;
  --box-shadow: hsl(50, 100%, 48%);
  --timing: 300ms;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  background-color: #111;
  width: 12px;
    &:hover {
    background-color: var(--secondary-color);
    }
}

::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 12px;
}

body { 
  min-height: 100dvh;
}


/* End Of Global Rules */

header {
  background-color: var(--header-background-color);
  min-height: 66.39px;
  max-height: 80px;
  padding: clamp(1.1rem,.4rem,2rem);
  padding-inline: clamp(1.1rem,3vw,2rem);
  color: #fff;
  position: relative;
  z-index: 10000000;

  .container {
    display: flex;
    margin-inline: auto;
    max-width: 1300px;
    gap: clamp(.7rem,5vw,1.3rem);
    justify-content: space-between;
  }

  & a {
    height: stretch;
    align-content: center;
    color: white;
    text-decoration: none;
  }
}

header img {
  height: 1.9rem;
}

@media screen and (max-width: 768px) {
  header picture img {
    vertical-align: middle;
    width: 32px!important;
    height: 32px!important;
  }
}

.search-bar {
  width: clamp(25rem,80vw,50rem);
  overflow: hidden;
  border-radius: 4px;
  margin-inline: auto;
  transition: outline-color .3s;
  display: flex;
  outline: 3px solid transparent;

  &:has(input:focus) {
    outline-color: var(--secondary-color);
  }

  button {
    flex: 0 1 auto;
    height: 100%;
    width: fit-content;
    max-height: 100%;
    padding: .2rem .8rem;
    background-color: var(--secondary-color);
    transition: background-color .3s, box-shadow .3s;
    border: 0;
    cursor: pointer;

    &:active {
      box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.397) inset;
    }

    &:hover {
      background-color: #fdb953;
    }
  
  }

  input {
    outline: 0;
    border: 1px solid white;
    margin-right: -2px;
    padding-inline: 1rem;
    font-size: 1rem;
    flex: 1 1 auto;
  }
}

.search-bar img {
  height: 1.4rem;
}

.burger-menu {
  display: none;
  flex-flow: column;
  gap: 7px;
  width: 2.1rem;
  cursor: pointer;
  align-self: center;

  & span {
    background-color: #eee;
    width: 100%;
    height: 3px;
    border-radius: 8px;
  }
}

.links {
  display: flex;
  gap: 1rem;
}

.returns {
  font-size: 1rem;
  min-width: max-content;

  span {
    display: block;
    margin-top: .2rem;
    font-weight: 500;
  }
}

.cart {
  position: relative;
  font-weight: 600;
  display: flex;
  gap: .2rem;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;

  span {
    color: rgb(240, 136, 4);
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    top: -1px;
    left: 56.5%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 600;
  }
}


@media screen and (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    inset-inline: 0;
  } 

  main .card-container {
    padding-top: calc(7rem + 73.19px);
  }
  .burger-menu {
    display: flex;
  }

  .links {
    position: absolute;
    top: 100%;
    gap: 1.2rem;
    right: 0;
    width: fit-content;
    transition: translate 300ms;
    z-index: 100000;
    background-color: var(--header-background-color);
    padding: .6rem;
    border-radius: 0 0 0 8px;
    box-shadow: -10px 12px 10px 1px #00000050;
    translate: 120%;
  }

  .links .returns {
    position: relative;
    
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -9px;
      width: 2px;
      height: 100%;
      background-color: #eee;
    }
  }
  
  .search-bar {
    width: auto;

    input {
      padding: .6rem 0 .6rem .5rem;
    }
    
    button {
      display: none;
    }

  }
}

@media screen and (min-width: 768px) {
  .links {
    translate: 0 !important;
  }
}

/* END HEADER */

/* Main Styles */

main {
  padding: 7rem clamp(.7rem, 5vw, 1.3rem) 1.5rem;

  .container {
    display: grid;  
    max-width: 950px;
    content-visibility: auto;
    contain: layout;
    margin-inline: auto;
  }

  .order-not-found {
    justify-self: center;
    display: none;
    flex-flow: column;
    gap: .4rem;
    text-align: center;

    h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.1rem;
    }

    svg {
      margin-inline: auto;
    }
  }
}

main .order-not-found.show {
  display: flex;
}




.card-header {
  display: flex;
  flex-flow: row wrap;
  gap: .7rem;
  padding: 1.5rem;
  border: 2px solid #eee;
  border-bottom: 0;
  border-radius: .5rem .5rem 0 0;


  div {
    display: grid;
    gap: .4rem;

    h4 {
      font-size: 1.250rem;

      span {
        user-select: all;
      }
    }

    h5 {
      font-size: .970rem;
      color: var(--sec-text-color);
    }
  }

  .status {
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 300ms;
    margin-left: auto;
  }
}

.card-body {
  display: flex;
  flex-flow: row wrap;
  gap: .7rem;
  padding: 1rem 1.5rem;
  border: 2px solid #eee;
  border-radius: 0 0 .5rem .5rem;

  .product-details {
    display: flex;
    gap: 1.8rem;

    img {
      aspect-ratio: 1;
      width: 9.5rem;
      object-fit: contain;
      border-radius: 8px;
    }

    .details {
      display: flex;
      flex-flow: column;
      gap: .4rem;
      padding-top: 1.7rem;

      .name {
        font-size: clamp(1rem,4vw,1.1rem);
      }

      .price , .quantity {
        font-size: .980rem;
        color: var(--sec-text-color)
      }
    }
  }

  .progress {
    margin-left: auto;
    display: flex;
    flex-flow: column;
    gap: 1.7rem;

    p {
      display: flex;
      align-items: center;
      gap: 1rem;
      line-height: 1;
      font-size: 1.1rem;
    }

    span {
      --active-clr: var(--secondary-color);
      --clr: #cdcdcb;
      --bg: #eee;
      display: inline-block;
      width: .7rem;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: var(--clr);
      outline: 2.8px solid var(--clr);
      outline-offset: 4px;
      position: relative;
      transition: outline-color 300ms , background-color 300ms;

      p &.active {
        --bg: var(--main-used-color);
        background-color: var(--active-clr);
        outline-color: var(--active-clr);
        transition: outline-color 300ms , background-color 300ms;
      }

      p:not(:last-child) &::before {
        content: '';
        position: absolute;
        height: 1.6rem;
        width: 2px;
        background-color: var(--bg);
        top: calc(100% + 4px);
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        z-index: -1;
        transition: background-color 300ms;
      }
    }

    span.active {
      background-color: darkorange;
    }
  }
}

@media screen and (max-width: 690px) {
  .card-header {
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    
    * {text-align: center;} 

    .status {
      margin-left: 0;
    }
  }

  .card-body {
    flex-flow: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2.5rem;

    .product-details {
      flex-flow: column;

      img {
        margin-inline: auto;
      }

    }
    .progress {
      margin-left: 0;
    }
  }
}


@media screen and (max-width: 690px) and (min-width: 475px) {
  .card-body .progress {
    flex-flow: row;

    p {
      flex-flow: column-reverse;
    }

    p:not(:last-child) span::before {
    top: -300%;
    left: 123%;
    rotate: 90deg;
    height: 5.1rem;
    transform: translateY(-50%);
    }
  }
}